# Kriteria
1. (**DONE**) Menggunakan Salah Satu dari Dataset yang Telah Disediakan
2. Melakukan Seluruh Proses Analisis Data [**Min 2 pertanyaan bisnis dan 2 visualisasi data**]
3. (**DONE**) Proses Analisis Dibuat dalam Notebook yang Rapi
4. Membuat Dashboard Sederhana Menggunakan Streamlit

# Saran
1. Memberikan dokumentasi menggunakan markdown/text cell pada notebook (.ipynb) untuk menjelaskan setiap tahapan analisis data.
2. Membuat visualisasi data yang baik dan efektif dengan menerapkan prinsip desain dan integritas.
3. Deploy dashboard ke dalam streamlit cloud.
4. Menerapkan teknik analisis lanjutan seperti RFM analysis, geoanalysis, clustering, dll. (Tanpa menggunakan algoritma machine learning).

# Ketentuan Pengiriman Submission
* Berkas submission yang dikirim merupakan folder proyek analisis data dalam format ZIP. Ia mengandung beberapa berkas seperti berikut.
  1. Dataset yang digunakan dalam proses analisis data.
  2. Berkas Jupyter Notebook atau Colab Notebook (.ipynb). Pastikan berkas notebook tersebut sudah dijalankan.
  3. Berkas Python (.py) yang digunakan untuk membuat dashboard dengan streamlit.
  4. Berkas requirements.txt yang berisi berbagai library yang digunakan dalam proses analisis data. Berikut contoh berkas requirements yang digunakan pada proyek latihan: requirements.txt. Anda bisa menggunakan library pipreqs atau pipreqsnb (notebook) untuk menghasilkan berkas requirements secara otomatis berdasarkan import yang dilakukan.
  5. Berkas Markdown (README.md) yang berisi cara menjalankan dashboard (contoh: dicoding collection dashboard).

* Jika Anda menerapkan saran pertama, pastikan Anda memberikan penjelasan singkat mengenai tahapan analisis yang dilakukan dan insight dari output analisis tersebut.
* Jika Anda menerapkan saran kedua, pastikan seluruh visualisasi yang dibuat telah menerapkan prinsip desain dan integritas.
* Jika Anda menerapkan saran ketiga, tuliskan tautan untuk dashboard tersebut dalam berkas url.txt.
* Jika Anda menerapkan saran keempat, pastikan untuk menulis penjelasan terkait metode analisis yang digunakan dalam markdown/text cell pada berkas Jupyter Notebook atau Colab Notebook.

# Format Berkas Submission
Berkas submission yang dikirimkan merupakan sebuah folder yang disimpan dalam bentuk ZIP. Folder berisi beberapa berkas seperti berikut.

* Dataset yang digunakan dalam proses analisis data.
* Berkas Jupyter Notebook atau Colab Notebook (.ipynb).
* Berkas Python (.py).
* Berkas Markdown (README.md).
* Berkas requirements.txt.
* Berkas url.txt (jika menerapkan saran ketiga).

```
submission
├───dashboard
| ├───main_data.csv
| └───dashboard.py
├───data
| ├───data_1.csv
| └───data_2.csv
├───notebook.ipynb
├───README.md
└───requirements.txt
└───url.txt
```

# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Vito Febrian Ananta
- **Email:** vitobriannt@gmail.com
- **ID Dicoding:** vitoananta3

## Menentukan Pertanyaan Bisnis

1. Berapa total pendapatan per bulan? (Untuk mengetahui pendapatan dan prediksi perkembangan perusahaan) (Prediction)

2. Bagaimana performa produk yang dijual berdasarkan kategorinya? (Untuk mengetahui kualitas produk yang dijual dan apa yang perlu dikembangkan)

3. Kota mana yang paling berpengaruh terhadap pendapatan? (Untuk mengjangkau lebih banyak pelanngan dengan strategi periklanan) (Geoanalysis)

4. Bagaimana demografi pelanggan? (Untuk mengetahui karakteristik pelanngan) (RFM)

5. Bagaimana performa waktu pengiriman? (Untuk dapat mengoptimasi waktu pengiriman)

## Import Semua Packages/Library yang Digunakan

In [620]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

Import CSVs

In [621]:
customers_df = pd.read_csv('data/customers_dataset.csv')
geolocation_df = pd.read_csv('data/geolocation_dataset.csv')
order_items_df = pd.read_csv('data/order_items_dataset.csv')
order_payments_df = pd.read_csv('data/order_payments_dataset.csv')
order_reviews_df = pd.read_csv('data/order_reviews_dataset.csv')
orders_df = pd.read_csv('data/orders_dataset.csv')
product_category_name_translation_df = pd.read_csv('data/product_category_name_translation.csv')
products_df = pd.read_csv('data/products_dataset.csv')
sellers_df = pd.read_csv('data/sellers_dataset.csv')

Check: Imported data

In [622]:
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [623]:
geolocation_df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [624]:
order_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [625]:
order_payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [626]:
order_reviews_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [627]:
orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [628]:
product_category_name_translation_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [629]:
products_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [630]:
sellers_df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

### Assessing Data

Assess customers

In [631]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [632]:
customers_df.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [633]:
customers_df.duplicated().sum()

0

In [634]:
customers_df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

Assess geolocation

In [635]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [636]:
geolocation_df.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [637]:
geolocation_df.duplicated().sum()

261831

**[CLEAN]:** Clean duplicated values because it is duplicated [DONE]

In [638]:
geolocation_df.describe()

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

Assess order items

In [639]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

**[CLEAN]:** Revise dtype of shipping_limit_date into datetime because is not the correct dtype [DONE]

In [640]:
order_items_df.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [641]:
order_items_df.duplicated().sum()

0

In [642]:
order_items_df.nunique()

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

In [643]:
order_items_df.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [644]:
order_items_df.max()

order_id               fffe41c64501cc87c801fd61db3f6244
order_item_id                                        21
product_id             fffe9eeff12fcbd74a2f2b007dde0c58
seller_id              ffff564a4f9085cd26170f4732393726
shipping_limit_date                 2020-04-09 22:35:08
price                                            6735.0
freight_value                                    409.68
dtype: object

**[CHECK]:** Are there any outliers? [DONE]

Assess order payments

In [645]:
order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [646]:
order_payments_df.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [647]:
order_payments_df.duplicated().sum()

0

In [648]:
order_payments_df.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [649]:
order_payments_df.max()

order_id                fffe41c64501cc87c801fd61db3f6244
payment_sequential                                    29
payment_type                                     voucher
payment_installments                                  24
payment_value                                   13664.08
dtype: object

**[CHECK]:** Are there any outliers? [DONE]

Assess order reviews

In [650]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

**[CLEAN]:** Revise dtype of:
- review_creation_date  
- review_answer_timestamp 

into datetime because is not the correct dtype [DONE]

In [651]:
order_reviews_df.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

**[NOTE]:** No need to drop because none of those matters to bussiness questions

In [652]:
order_reviews_df.duplicated().sum()

0

In [653]:
order_reviews_df.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

Assess orders

In [654]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

**[CLEAN]:** Revise dtype of:
- order_purchase_timestamp
- order_approved_at
- order_delivered_carrier_date
- order_delivered_customer_date
- order_estimated_delivery_date

into datetime because is not the correct dtype [DONE]

In [655]:
orders_df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

**[NOTE]:** No need to clean duplicated values becasue none of those matters to bussines questions

In [656]:
orders_df.duplicated().sum()

0

In [657]:
orders_df.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

Assess product category name

In [658]:
product_category_name_translation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [659]:
product_category_name_translation_df.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [660]:
product_category_name_translation_df.duplicated().sum()

0

In [661]:
product_category_name_translation_df.describe()

       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

Assess products

In [662]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [663]:
products_df.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

**[CLEAN]:** Drop missing values [DONE]

In [664]:
products_df.duplicated().sum()

0

In [665]:
products_df.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

Assess sellers

In [666]:
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [667]:
sellers_df.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [668]:
sellers_df.duplicated().sum()

0

In [669]:
sellers_df.describe()

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

### Cleaning Data

Clean geolocation

- duplicated values

In [670]:
geolocation_df.duplicated().sum()

261831

In [671]:
geolocation_df.drop_duplicates(inplace=True)

In [672]:
geolocation_df.duplicated().sum()

0

Clean order items

- Revise dtype into datetime: shipping_limit_date

In [673]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [674]:
order_items_df['shipping_limit_date'] = pd.to_datetime(order_items_df['shipping_limit_date'])

In [675]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

Clean order reviews

- Revise dtype into datetime:
    - review_creation_date  
    - review_answer_timestamp

In [676]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [677]:
datetime_columns = ['review_creation_date', 'review_answer_timestamp']

for column in datetime_columns:
    order_reviews_df[column] = pd.to_datetime(order_reviews_df[column])

In [678]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

Clean orders

- Revise dtype into datetime of:
    - order_purchase_timestamp
    - order_approved_at
    - order_delivered_carrier_date
    - order_delivered_customer_date
    - order_estimated_delivery_date

In [679]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [680]:
datetime_columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

for column in datetime_columns:
    orders_df[column] = pd.to_datetime(orders_df[column])

In [681]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

Products

- Missing values

In [682]:
products_df.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [683]:
products_df[products_df['product_category_name'].isna()]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

Possible solutions:
- Drop: Not applicable because these producs category has order items
- Filling: Applicable for now

In [684]:
products_df.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [685]:
# Filling roduct_category_name with 'others'
products_df['product_category_name'].fillna(value='others', inplace=True)

# Filling product_name_lenght with the mean
products_df['product_name_lenght'].fillna(value=products_df['product_name_lenght'].mean(), inplace=True)

# Filling product_description_lenght with the mean
products_df['product_description_lenght'].fillna(value=products_df['product_description_lenght'].mean(), inplace=True)

# Filling product_photos_qty with the mean
products_df['product_photos_qty'].fillna(value=products_df['product_photos_qty'].mean(), inplace=True)

In [686]:
products_df.isna().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              2
product_length_cm             2
product_height_cm             2
product_width_cm              2
dtype: int64

## Exploratory Data Analysis (EDA)

### Explore ...

Explore orders

In [687]:
orders_df.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
33119,50674ee456f3c2c64977e8950c01f781,7b14e248ae990a7115c3c0de45cf6967,delivered,2018-02-03 16:59:37,2018-02-03 17:10:56,2018-02-08 01:08:31,2018-02-14 12:52:38,2018-03-02
28765,a079628ac8002126e75f86b0f87332e4,62d561a5b1260c4476fd985dcae3eb78,delivered,2018-04-24 10:19:45,2018-04-24 18:29:37,2018-04-25 12:30:00,2018-05-14 19:12:50,2018-05-29
11012,0323ff12c1df8a359930ac6b84a32653,bb3971094d7eb77b5347edf241a9f60e,delivered,2018-05-11 17:57:27,2018-05-15 03:55:59,2018-05-15 10:36:00,2018-06-01 18:12:44,2018-07-02
23533,40fdebf7099c66b23f5856729f82a68a,96b80763a9e40ec80e13ab289a3296b7,delivered,2017-07-12 10:59:26,2017-07-13 02:50:32,2017-07-13 18:05:58,2017-07-17 21:10:47,2017-08-01
80948,9216a44f5b8ded17361603142a907289,8192999f1c06e98c177d5cdaf31d7412,delivered,2017-08-02 10:21:05,2017-08-02 10:30:25,2017-08-02 19:03:52,2017-08-09 17:46:17,2017-08-30

In [688]:
delivery_time = orders_df['order_delivered_customer_date'] - orders_df['order_purchase_timestamp']
orders_df['delivery_time'] = delivery_time
orders_df.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time
41611,7e054f9f05a6b366eaf1fe25293cfefe,b69bbfdbaef0318db83e5351cf4a3059,delivered,2018-06-12 16:50:23,2018-06-12 17:31:34,2018-06-13 14:11:00,2018-06-18 22:38:55,2018-06-25,6 days 05:48:32
95260,4742de2698468a6388200583f9ae46fd,32785fc2133c37270c1ea1cdbfe857d8,delivered,2018-03-07 21:00:32,2018-03-07 21:10:36,2018-03-21 23:27:26,2018-03-23 02:08:42,2018-03-29,15 days 05:08:10
48301,543cca75b036b547b2b025a1d896895f,9d221cb5b002dc5134af790b0014afb7,delivered,2018-07-23 16:19:03,2018-07-23 17:20:37,2018-07-24 13:48:00,2018-07-31 18:09:31,2018-08-13,8 days 01:50:28
76746,2b558556ef2c5813bc84e3739392e44c,e5f3fb6263a0c33e518cc7029a60093c,delivered,2018-06-22 12:40:56,2018-06-22 12:59:47,2018-06-22 13:05:00,2018-07-05 17:32:59,2018-07-25,13 days 04:52:03
45877,99ea7908cd1e043462057874b180e3fe,05fa87701fb77d327e49cb5fb457a5da,delivered,2017-08-04 17:28:51,2017-08-04 17:45:15,2017-08-07 21:18:01,2017-08-10 23:36:58,2017-08-24,6 days 06:08:07

In [689]:
orders_df.delivery_time.describe()

count                         96476
mean     12 days 13:24:31.879068369
std       9 days 13:07:00.181125305
min                 0 days 12:48:07
25%          6 days 18:23:37.250000
50%                10 days 05:13:34
75%         15 days 17:17:16.250000
max               209 days 15:05:12
Name: delivery_time, dtype: object

In [690]:
orders_df['delivery_time'] = orders_df['delivery_time'].dt.days
orders_df['delivery_time'] = orders_df['delivery_time'].apply(lambda x: 1 if x < 1 else x)

In [691]:
orders_df.delivery_time.describe()

count    96476.000000
mean        12.094220
std          9.551583
min          1.000000
25%          6.000000
50%         10.000000
75%         15.000000
max        209.000000
Name: delivery_time, dtype: float64

In [699]:
orders_df['month'] = orders_df['order_purchase_timestamp'].dt.to_period('M')

In [700]:
orders_df.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time,month
66488,ff5912414bd207006a7af78477de9733,67488e8cd4c4cd4b21118b03fc4bf6f6,delivered,2018-02-20 14:19:01,2018-02-20 14:30:45,2018-02-21 21:23:16,2018-03-07 16:46:31,2018-03-16,15.0,2018-02
70366,95fdb59e0ee0274a8b9b1ba4641ae5db,d650366fad052046dd37d7438aaf5f74,delivered,2017-09-05 16:18:47,2017-09-05 16:30:09,2017-09-06 20:00:04,2017-09-12 19:15:51,2017-09-22,7.0,2017-09
22517,1c860166a4ec1f520625c28e60d5b157,9265e8abf2494201b1d237dfc1e270e2,delivered,2018-05-08 23:08:40,2018-05-08 23:34:17,2018-05-09 08:33:00,2018-05-10 19:33:51,2018-06-04,1.0,2018-05
56249,786a873e54be6312936c0be8968237cb,b9cb144d3d81be94eca55f70d8c01eae,delivered,2018-05-02 15:45:07,2018-05-02 16:38:03,2018-05-03 15:46:00,2018-05-10 01:58:32,2018-05-25,7.0,2018-05
37,5acce57f8d9dfd55fa48e212a641a69d,295ae9b35379e077273387ff64354b6f,delivered,2017-07-31 21:37:10,2017-08-02 02:56:02,2017-08-03 18:32:48,2017-08-08 21:24:41,2017-08-22,7.0,2017-07

Explore customers

In [ ]:
customers_df.sample(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
40660,00066ccbe787a588c52bd5ff404590e3,15090f48004f3b0fc18a167ef82af4db,93525,novo hamburgo,RS
76288,f8e69151f573cef016abaa5b176209c4,5e83b364150b7538992f925acc373dca,15775,santa fe do sul,SP
72104,2fc18e96c5987ff9e0f2e3ca600cd075,9508ac36eb0d09bf42d525bd6c5980e9,12239,sao jose dos campos,SP
41025,50dbe1acb28dd57bc9abe805d6fb1966,585b9803fb65681deac257f8c70cb6d4,60150,fortaleza,CE
90294,b106b360fe2ef8849fbbd056f777b4d5,0eb1ee9dba87f5b36b4613a65074337c,2975,sao paulo,SP

In [ ]:
customers_df['customer_city'].value_counts()

customer_city
sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
bequimao                 1
andarai                  1
vargem grande            1
curvelandia              1
eugenio de castro        1
Name: count, Length: 4119, dtype: int64

Explore orders & order_payments

Combine orders & order_payments

In [859]:
orders_payments_df = pd.merge(orders_df, order_payments_df, on='order_id')
orders_payments_df.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time,month,payment_sequential,payment_type,payment_installments,payment_value
4084,796843d5e414b6e4272228bae15d828b,6d2370391a400e5f408a86ef70110bd0,delivered,2018-03-27 00:23:35,2018-03-27 00:35:18,2018-03-27 21:33:19,2018-03-28 22:37:38,2018-04-09,1.0,2018-03,1,credit_card,1,24.38
81677,d5157e3d901001c846b12765379f95a8,c50d965e793d79c247fdaf0fb7b93faa,delivered,2018-02-14 13:25:14,2018-02-14 13:35:25,2018-02-20 17:49:04,2018-03-15 21:51:52,2018-03-07,29.0,2018-02,1,credit_card,1,135.49
100037,b93e5b2672754c089dae937a51136864,e849fcfd6396b2cf32fc9c7f38d1eed8,delivered,2017-03-09 09:56:36,2017-03-09 09:56:36,2017-03-16 15:13:36,2017-03-21 08:17:55,2017-04-06,11.0,2017-03,1,boleto,1,389.43
11749,b71ba668b12da5320995cd74acecb2fb,ac708849f8add56b9c304bd26ffd4bee,delivered,2018-06-03 10:47:54,2018-06-03 11:10:36,2018-06-06 06:08:00,2018-06-07 23:17:23,2018-06-29,4.0,2018-06,2,voucher,1,25.00
22377,a45d988c5f5764f548ae6fa14a8ee773,399cc941c7a8a325c3c3bd68f9aeeee9,delivered,2017-10-26 08:50:37,2017-10-26 09:07:43,2017-11-08 22:56:48,2017-12-01 19:24:39,2017-11-28,36.0,2017-10,1,credit_card,6,1223.70

Explore orders, order_payments & customers

Combine orders_payments & customers

In [924]:
orders_payments_customers_df = pd.merge(orders_payments_df, customers_df, on='customer_id')
orders_payments_customers_df.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time,month,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
53908,242efbf997dcc144609030002b91446e,64ad3c86c789e4ec8abda9f287bdacb4,delivered,2017-11-25 17:09:27,2017-11-27 17:19:38,2017-11-29 12:57:30,2017-12-08 00:12:09,2017-12-15,12.0,2017-11,5,voucher,1,8.32,dcf8ab9bc34d2f516f07ed071efdbe99,36046,juiz de fora,MG
14192,0110688c40ff035d672af3aac1f38f10,f66684cd226d7d5cbbc43491ac08390a,delivered,2018-02-01 14:20:22,2018-02-01 14:35:32,2018-02-02 20:03:15,2018-02-27 23:34:13,2018-03-01,26.0,2018-02,1,credit_card,7,458.94,f724ca9c02bd1befd3b12acce13f45fa,21750,rio de janeiro,RJ
41215,2f2a34292298ceb3802f19528c621d87,b690976af1599d1552e68bece00f260c,delivered,2017-11-24 20:39:09,2017-11-25 00:34:57,2017-11-27 20:38:39,2017-12-04 22:57:02,2017-12-19,10.0,2017-11,1,credit_card,3,278.43,166120890fd7d69e900860f2948c49b2,72006,brasilia,DF
51877,a8a42c7e161e16d72525008bda4edce0,1bf762864813c7d1e7496fb78b4de67e,delivered,2018-05-16 08:54:45,2018-05-16 09:16:33,2018-05-17 14:49:00,2018-05-18 22:32:38,2018-05-28,2.0,2018-05,1,credit_card,1,25.38,960bb3d864528e89348738b847bc0377,5007,sao paulo,SP
43593,fb75871974a19244a87fcafde416f747,4e46d8da3f58d1c99839a534603f28b8,delivered,2018-04-02 21:49:10,2018-04-02 22:09:39,2018-04-03 22:56:51,2018-05-02 14:40:48,2018-04-30,29.0,2018-04,1,credit_card,8,366.27,3e7ac88fcebf632fb01dd58bd3522ea6,56200,ouricuri,PE

In [974]:
monthly_revenue = orders_payments_customers_df.groupby('month')['payment_value'].sum()
print(monthly_revenue)
total_revenue = monthly_revenue.sum()
print(f'Total revenue: {total_revenue}')

month
2016-09        252.24
2016-10      59090.48
2016-12         19.62
2017-01     138488.04
2017-02     291908.01
2017-03     449863.60
2017-04     417788.03
2017-05     592918.82
2017-06     511276.38
2017-07     592382.92
2017-08     674396.32
2017-09     727762.45
2017-10     779677.88
2017-11    1194882.80
2017-12     878401.48
2018-01    1114751.49
2018-02     992463.34
2018-03    1159652.12
2018-04    1160785.48
2018-05    1153982.15
2018-06    1023880.50
2018-07    1066540.75
2018-08    1022425.32
2018-09       4439.54
2018-10        589.67
Freq: M, Name: payment_value, dtype: float64
Total revenue: 16008619.43

In [892]:
city_revenue = orders_payments_customers_df.groupby('customer_city')['payment_value'].sum()
city_revenue = city_revenue.sort_values(ascending=False)
city_revenue.head(10)

customer_city
sao paulo         2203373.09
rio de janeiro    1161674.67
belo horizonte     421765.12
brasilia           354216.78
curitiba           247392.48
porto alegre       224731.42
salvador           218071.50
campinas           216248.43
guarulhos          165121.99
niteroi            139996.99
Name: payment_value, dtype: float64

In [888]:
orders_payments_customers_df['delivery_time'].describe()

count    100754.000000
mean         12.106487
std           9.555100
min           1.000000
25%           6.000000
50%          10.000000
75%          15.000000
max         209.000000
Name: delivery_time, dtype: float64

Explore orders, order_items & products

Combine orders, order_reviews, order_items & products

In [908]:
orders_reviews_df = pd.merge(orders_df, order_reviews_df, on='order_id')
orders_reviews_items_df = pd.merge(orders_reviews_df, order_items_df, on='order_id')
orders_reviews_items_products_df = pd.merge(orders_reviews_items_df, products_df, on='product_id')
orders_reviews_items_products_df.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time,month,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
106388,361e0cf744333677864a5e28558a53bc,29f6c977826acdfaeab958ed41c85de3,delivered,2017-08-10 17:04:54,2017-08-10 17:25:10,2017-08-11 21:17:19,2017-08-15 12:49:37,2017-08-25,4.0,2017-08,...,12.99,7.78,moveis_decoracao,56.0,575.0,1.0,300.0,40.0,10.0,30.0
10279,c36bc89cd9897bf2c8a62efef58f3181,b3d23946a07fc5c0938b3ad2c0a7df85,delivered,2018-01-29 13:24:42,2018-01-29 13:35:28,2018-01-30 21:12:59,2018-02-01 19:17:46,2018-02-16,3.0,2018-01,...,79.99,8.75,cama_mesa_banho,46.0,279.0,1.0,1813.0,67.0,12.0,47.0
61103,af3a99830ba4f46c5814e23ed92ef8cc,52798469029a20d7814d2b58c0c63e0d,delivered,2017-12-05 17:48:44,2017-12-05 18:30:43,2017-12-08 00:51:47,2017-12-09 12:58:52,2017-12-21,3.0,2017-12,...,14.90,8.11,beleza_saude,36.0,365.0,1.0,100.0,16.0,3.0,15.0
80934,54219c88839d9b1991f5550734f20c9f,c85790678eba7034f14f08ee44c67c21,delivered,2018-05-01 20:55:33,2018-05-01 21:12:25,2018-05-02 15:26:00,2018-05-08 16:38:42,2018-05-25,6.0,2018-05,...,95.90,23.25,automotivo,60.0,715.0,3.0,1750.0,55.0,27.0,40.0
69143,f0ffbaf1fe35a4a0565b047824341bc3,db4f310563a27c2d20d89d7abcf2260b,delivered,2018-01-12 09:29:42,2018-01-12 09:42:22,2018-01-15 20:56:39,2018-01-23 14:37:43,2018-02-07,11.0,2018-01,...,69.99,16.25,brinquedos,24.0,669.0,1.0,1050.0,24.0,29.0,23.0

In [906]:
product_reviews = orders_reviews_items_products_df.groupby('product_category_name')['review_score'].mean()
product_reviews = product_reviews.sort_values(ascending=False)
product_reviews.head(10)

product_category_name
cds_dvds_musicais                     4.642857
fashion_roupa_infanto_juvenil         4.500000
livros_interesse_geral                4.446266
construcao_ferramentas_ferramentas    4.444444
flores                                4.419355
livros_importados                     4.400000
livros_tecnicos                       4.368421
alimentos_bebidas                     4.315412
malas_acessorios                      4.315257
portateis_casa_forno_e_cafe           4.302632
Name: review_score, dtype: float64

In [914]:
orders_reviews_items_products_df['total_price'] = orders_reviews_items_products_df['price'] + orders_reviews_items_products_df['freight_value']
product_revenues = orders_reviews_items_products_df.groupby('product_category_name').agg({'order_id': 'count', 'total_price': 'sum'})
product_revenues = product_revenues.sort_values(by='order_id', ascending=False)
product_revenues.head(10)

                        order_id  total_price
product_category_name
cama_mesa_banho            11137   1244950.00
beleza_saude                9645   1434501.78
esporte_lazer               8640   1155295.28
moveis_decoracao            8331    902472.18
informatica_acessorios      7849   1062184.42
utilidades_domesticas       6943    775827.36
relogios_presentes          5950   1297404.23
telefonia                   4517    390990.35
ferramentas_jardim          4329    581483.25
automotivo                  4213    678859.45

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2